<!DOCTYPE html>
<html>
<head>
  <title>My401k</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>
  <div class='navbar'>
    <div class='navbar-inner'>
      <ul class='nav'>
        <li><%= link_to 'Learn about your Plan', plan_path %></li>
        <li><%= link_to 'Manage your Account', account_path %></li>
        <li><%= link_to 'View helpful Resources', resources_path %></li>
        <li><%= link_to 'Enroll in Plan', enroll_path %></li>
        <li><%= link_to 'View Special Offers', special_offers_path %></li>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
